{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
	font-family: 'Dancing Script', cursive;
	color:white;
	font-size:18px;
	/*background-color:#82c3a6;*/
	height: auto;
}


header{
	background-color:#5b7989;
	/*font-family:"Dancing Script",cursive,white;*/
	border-radius:10px 10px 0px 0px;
	padding:5px;
	text-align:left;
	text-shadow:0px 2px 0px #02010a;
	background-attachment: fixed;
}

header nav ul{
	list-style:none;
	text-align:right;
}

header nav ul li{
	display:inline-block;
	text-align:center;
}

header nav ul li a{
	display:block;
	padding:10px 20px;
	color:white;
	font-size:19px;
	text-align:center;
}


.contenedor{
	height:1400px;
	text-align:center;
	background-color:#82c3a6;
	background-position: center;

}

.contenedor img{
	width:30%;
	float:left;
}

.redes img{
	border-radius:30px;
	width:20px;
}


footer{
	clear:both;
	background-color:#C6d5c5;
	font-family:"Dancing Script",cursive;
	color:black;
	border-radius:0px 0px 10px 10px;
	padding:90px;
	column-count:4;
	font-size:20px;
	text-align:left;

	/*text-shadow:0px 2px 0px #02010a;*/
}
